h2 One Column
div.section.group
  div.p-grid.col.span_2_of_2
    p 1 of 1

h2 Two Columns
div.section.group
  div.p-grid.col.span_1_of_2
    p 1 of 2
  div.p-grid.col.span_1_of_2
    p 1 of 2

h2 Three Columns
div.section.group
  div.p-grid.col.span_1_of_3
    p 1 of 3
  div.p-grid.col.span_1_of_3
    p 1 of 3
  div.p-grid.col.span_1_of_3
    p 1 of 3

h2 4 Columns
div.section.group
  div.p-grid.col.span_1_of_4
    p 1 of 4
  div.p-grid.col.span_1_of_4
    p 1 of 4
  div.p-grid.col.span_1_of_4
    p 1 of 4
  div.p-grid.col.span_1_of_4
    p 1 of 4
