h2 You Can Also Mix &amp; Match
div.section.group
  div.p-grid.col.span_1_of_3
    p 1 of 3
  div.p-grid.col.span_2_of_3
    p 2 of 3

div.section.group
  div.p-grid.col.span_2_of_3
    p 2 of 3
  div.p-grid.col.span_1_of_3
    p 1 of 3

div.section.group
  div.p-grid.col.span_1_of_4
    p 1 of 4
  div.p-grid.col.span_2_of_4
    p 2 of 4
  div.p-grid.col.span_1_of_4
    p 1 of 4

div.section.group
  div.p-grid.col.span_3_of_4
    p 3 of 4
  div.p-grid.col.span_1_of_4
    p 1 of 4
