.stnd-primary,
.sm-primary,
.stnd-secondary,
.sm-secondary,
.stnd-disabled,
.sm-disabled {
  margin: 0 0.5em;
  border: none;
  border-radius: 0.8em;
}

.round {
  border-radius: 0.8em;
}

.square {
  border-radius: 0.1em;
}

.stnd-primary, .sm-primary {
  background-color: rgb(183,244,119);
  &:hover, &:focus {
    background-color: rgba(183,244,119,0.6);
  }
}

.stnd-secondary, .sm-secondary {
  background-color: rgb(234,244,96);
  &:hover, &:focus {
    background-color: rgba(234,244,96,0.6);
  }
}

.stnd-disabled, .sm-disabled {
  background-color: #E8E8E8;
  color: #595C5A;
}

.stnd-primary,
.stnd-secondary,
.stnd-disabled {
  padding: 0.3em 1em;
  font-size: 1em;
}

.sm-primary,
.sm-secondary,
.sm-disabled {
  padding: 0.3em 0.8em;
  font-size: 0.8em;
}





