.swatch {
  display: inline-block;
  padding: 3.5rem 0;
  margin: 0.5rem;
  width: 10rem;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
}

.swatch-label {
  margin-top: 0;
  line-height: 1rem;
}

.white {
  color: #fff;
}

.primary-color {
  background-color: $primary-color;
}

.secondary-color {
 background-color: $secondary-color;
}

.third-color {
  background-color: $third-color;
}

.fourth-color {
  background-color: $fourth-color;
}

.fifth-color {
  background-color: $fifth-color;
}

