form {
  width: 65%;
  margin: 0 auto;
}

fieldset {
  margin-bottom: 1em;
}

legend {
  font-size: $normal;
  font-family: $font-titles;
  margin-bottom: 0.2em;
}

input {
  font-size: $normal;
  font-family: $font-base;
}

input[type=text], textarea {
  display: block;
  width: 100%;
}

input[type=text] {
  margin-bottom: 1em;
}

.input-error {
  border-color: $secondary-color;
}

.input-success {
  border-color: $primary-color;
}

.form-btn {
  float: right;
}


