form {
  width: 100%;
  margin: 0 auto;
}

fieldset {
  margin-bottom: 1em;
  width: 95%;
}

legend {
  font-size: $medium;
  font-family: $font-titles;
  margin-bottom: 0.2em;
}

input, textarea, select {
  font-size: $normal;
  font-family: $font-base;
  padding: .3rem;
}

input[type=text], textarea {
  display: block;
  width: 100%;
}

input[type=text] {
  margin-bottom: 1em;
}

.input-error {
  border-color: $secondary-color;
}

.input-success {
  border-color: $primary-color;
}

.checkbox-label, .radio-label {
  font-size: $normal;
  font-family: $font-base;
  cursor: pointer;
  margin-right: 0.5em;
}

.form-btn {
  float: right;
}

