.logo {
  img {
    display: inline;
    float: right;
  }
  h1 {
    padding-top: 4.2rem;
    font-size: $larger;
  }
}
header {
  background-color: $primary-color;
}
.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $secondary-color;
  li {
    display: inline;
  }
  a {
    font-family: $font-titles;
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem 2.5%;
    &:hover {
      background-color: white;
    }
  }
}
.secondary-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: $primary-color;
  li {
    display: inline;
  }
  a {
    font-family: $font-base;
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem 3.5%;
    &:hover {
      background-color: white;
    }
  }
}
.white-space {
  padding-top: 4rem;
}
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.notes h1 {
  margin: $normal;
}
.front-block {
  background-color: $primary-color;
  border-sizing: border-box;
  padding: 1% 5% 5% 5%;
}
.front-post {
  h1 {
    font-size: 2rem;
  }
  h2 {
    margin-top: $small;
  }
}
.code {
  background: $fourth-color;
  height: auto;
  border-radius: 3px;
  pre, p {
    margin-left: $normal;
    padding-bottom: .1rem;
    color: $third-color;
    code {
      line-height: 1.5rem;
      color: $primary-color;
      span {
        display: block;
      }
    }
  }
}

.current-tab {
  background-color: white;
}

.break {
  padding-bottom: 1.5rem;
}

.indent {
  padding-left: 1rem;
}

footer {
  background-color: $secondary-color;
  margin-top: $medium;
  p {
    padding: $normal;
    text-align: center;
    margin-bottom: 0;
  }
}
