extends layout

block content
  h1= title
  p Welcome to #{title}
  p Standard
  button.stnd-btn Button
  button.stnd-disabled-btn(disabled='true') Disabled
  p Small
  button.sm-btn Button
  button.sm-disabled-btn(disabled='true') Disabled

