extends layout

block content
  h1.ptn-title= title
  h2.ptn-subtitle Need to come back to this!!!!!

  div.section.group
    div.col.span_2_of_3
      div.button-wrap
        h2 Standard Round
        include includes/buttons/btn-stnd-round
        h2 Standard Square
        include includes/buttons/btn-stnd-square
    div.col.span_1_of_3.notes
      p This is a sentence. This is a sentence. This is a sentence. This is a sentence.
  div.section.group
    div.col.span_3_of_3.code

  div.section.group
    div.col.span_2_of_3
      div.button-wrap
        h2 Small Round
        include includes/buttons/btn-sm-round
        h2 Small Square
        include includes/buttons/btn-sm-square
    div.col.span_1_of_3.notes
  div.section.group
    div.col.span_3_of_3.code

