extends layout

block content
  h1.ptn-title= title

  div.section.group
    div.col.span_2_of_3
      h2.bottom-padding Primary Palette
      div.swatch.primary-color
        p.swatch-label #C8EA80
        p.swatch-label $primary-color
      div.swatch.secondary-color
        p.swatch-label #EFEC72
        p.swatch-label $secondary-color
      div.swatch.third-color
        p.swatch-label #E8E8E8
        p.swatch-label $third-color
      div.swatch.fourth-color
        p.swatch-label.white #5A5C5A
        p.swatch-label.white $fourth-color
      div.swatch.fifth-color
        p.swatch-label.white #0D0D0D
        p.swatch-label.white $fifth-color
    div.col.span_1_of_3.notes
      h2 Notes
      p Color is one of those things that seems really simple - but can be really difficult to get just right. And, as it's one of the really visual, focal parts to any design, then it's so, so easy to notice when something doesn't quite sit right.
      br
      p If such a major part of your design doesn't feel right, or represent your company, service or brand well, then it can make all the difference between users that stay and explore and those that disappear.
  div.section.group
    div.col.span_3_of_3.code
      pre
        code
          p Grab all the colors here:
          span color: #C8EA80; // pale green
          span color: #EFEC72; // pale yellow
          span color: #E8E8E8; // light grey
          span color: #5A5C5A; // dark grey
          span color: #0D0D0D; // dark black
