extends layout

block content
  h1.ptn-title= title
  h2.ptn-subtitle Need to come back to this!!!!!

  div.section.group
    div.col.span_2_of_3
      div.swatch.primary-color
        p #C8EA80
        p $primary-color
      div.swatch.secondary-color
        p #EFEC72
        p $secondary-color
      div.swatch.third-color
        p #E8E8E8
        p $third-color
      div.swatch.fourth-color.white
        p #5A5C5A
        p $fourth-color
      div.swatch.fifth-color.white #0D0D0D
        p $fifth-color
    div.col.span_1_of_3.notes
  div.section.group
    div.col.span_3_of_3.code
