extends layout

block content
  div.swatch.primary-color #C8EA80
  div.swatch.secondary-color #EFEC72
  div.swatch.third-color #E8E8E8
  div.swatch.fourth-color.white #5A5C5A
  div.swatch.fifth-color.white #0D0D0D
