extends layout

block content
  h1.ptn-title= title

  div.section.group
    div.col.span_2_of_3
      form
        fieldset
          legend User Information
          input(type='text', placeholder='Input Text')
          input(type='text', disabled='disabled', placeholder='Disabled Input')
          input(type='text', class='input-error', placeholder='Error Input')
          input(type='text', class='input-success', placeholder='Success Input')
          textarea(placeholder='Medium sized textarea field for bigger explainations.' rows='6')
        fieldset
          legend Select
          select
            option(value='') Select an option
            option(value='1') Value 1
            option(value='2') Value 2
            option(value='3') Value 3
            option(value='4') Value 4
            option(value='5') Value 5
        fieldset
          legend Checkbox
          label
            input(type='checkbox')
            span Value 1
            input(type='checkbox')
            span Value 2
        fieldset
          legend Radio Button
          label
            input(name='radio-example', type='radio')
            span Value 1
          label
            input(name='radio-example', type='radio')
            span Value 2
        button.stnd-primary.square.form-btn Submit
    div.col.span_1_of_3.notes
      h2 Notes
      p HTML 5 introduces a number of input tags that can be represented by other interface elements. Some are based upon text input fields and are intended to input and validate specific common data. These include email to enter email addresses, tel for telephone numbers, number for credit card numbers and security codes.
    div.section.group
      div.col.span_3_of_3.code
        p Code
