extends layout

block content
  br

  div.section.group
    div.col.span_2_of_3.white-space
      a(href='/index')
        img(src="images/infographic.jpg", alt="Infographic of the way we think and how Bloom can help make designing the web more consistent.")

    div.col.span_1_of_3.white-space
      div.front-block
        h2 Create Consistency
        p Repeating design elements and consistent use of type and graphics styles within a document shows a reader where to go and helps them navigate your designs and layouts safely.
        p Explore the principles of repetition, consistency, and unity in page design. Our UI pattern library is very light weight and is here to get your idea up and running quickly. Let Bloom do the what it does best!
  br
  div.section.group
    div.col.span_1_of_3.front-post
        h1 Our Methodology
        h2 The Reason Why
        p Prototyping possible scenarios for better design solutions that incrementally or significantly improve the originally inherited situation.
        p We decided to make a library for personal use that had elements that we would enjoy working with personally. The code had to be able to be modular in design to make us happy, and if you enjoy it, thats really cool too. Head over to our Github and star the repo today.
    div.col.span_1_of_3.front-post
      h1 Open Source
      h2 Help Us Grow
      p Powerful collaboration, code review, and code management for open source and private ... Powerful features to make software development more collaborative.
      p We love Github and if you like what we are doing go star the repo, fork it and add more, or just grab the code and enjoy what Bloom can do.
      button.stnd-primary.square.form-btn
        a(href='http://github.com/Bloom-A-Style-Guide/Bloom-A-Style-Guide') Github
    div.col.span_1_of_3.front-post
      h1 Bibliography
      h2 Our Inspirations
      p.
        A lot has been said about creating design systems, and much of it focuses on establishing foundations for color, typography, grids, texture and the like.<a href='http://http://bradfrostweb.com/blog/post/atomic-web-design/'> Atomic Design</a>
      p.
        The Responsive Grid System isn't a framework. It's not a boilerplate either. It's a quick, easy &amp; flexible way to create a responsive web site. <a href='http://www.responsivegridsystem.com/'> Responsive Grid System</a>
