doctype html
html
  head
    title Bloom | #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div.logo
        img(src='images/bloom-logo.png', alt="Bloom logo.")
        h1 let your ideas bloom
      ul.main-nav
        li
          a(href='/buttons') Buttons
        li
          a(href='/colors') Colors
        li
          a(href='/forms') Forms
        li
          a(href='/grid') Grid
        li
          a(href='/media') Media
        li
          a(href='/nav') Navigation
        li
          a(href='/type') Typography
    main
      div.container
        block content

    script(src='http://localhost:35729/livereload.js')
