doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/') home
      li
        a(href='/guide') guide
      li
        a(href='/demo') demo
    block content

    script(src='http://localhost:35729/livereload.js')
