extends layout

block content
  h1.ptn-title= title

  div.section.group
    div.col.span_2_of_3

      include includes/media/media-hero
    div.col.span_1_of_3.notes
      h2 Notes
      p Using images, just like any other component of a website, should be done with careful thought and consideration. If you want your images to enhance the user’s experience, increase conversions, help with branding, and improve visual appeal, consider the following ideas I will share with you in this article.
  div.section.group
    div.col.span_3_of_3.code
      pre
        code
          p Hero Image
          span &lt;img src="http://placehold.it/1280x720"/&gt;

  div.section.group
    div.col.span_2_of_3.post-img
      include includes/media/media-post
    div.col.span_1_of_3.notes
      h2 Notes
      p There are two primary jobs involved in creating a website: the web designer and web developer, who often work closely together on a website. The web designers are responsible for the visual aspect, which includes the layout, coloring and typography of a web page.
  div.section.group
    div.col.span_3_of_3.code
      pre
        code
          p Post Image Block
          span &lt;img src="http://placehold.it/200x200" align="left"/&gt;
          span &lt;div class="post-text"&gt;
          span.indent &lt;h3&gt;Title for Media&lt;h3&gt;
          span.indent &lt;p&gt;Place your text here.&lt;p&gt;
          span &lt;div&gt;

