extends layout

block content
  h1.ptn-title= title

  div.section.group
    div.col.span_2_of_3

      h2.bottom-padding First Navigation

      include includes/navigation/main-nav

      h2.bottom-padding Secondary Navigation

      include includes/navigation/secondary-nav
    div.col.span_1_of_3.notes
      h2 Notes
      p It is the portal to important content and it can drastically increase (or decrease) site click-through. Effective site navigation depends on almost all of the design disciplines involved in web design including information architecture, user experience design, visual design and front-end development. This post will focus mostly on visual design with some notes on usability and implementation.
  div.section.group
    div.col.span_3_of_3.code
      pre
        code
          p First Navigation
          span &lt;ul class="main-nav"&gt;
          span   &lt;a href="#"&gt;Link&lt;/a&gt;
          span &lt;/ul&gt;
          p Secondary Navigation
          span &lt;ul class="secondary-nav"&gt;
          span   &lt;a href="#"&gt;Link&lt;/a&gt;
          span &lt;/ul&gt;
          p jQuery
          span $('.main-nav a').each(function() {
          span  if ($(this).attr('href') === window.location.pathname) {
          span    $(this).addClass('current-tab');
          span  }
          span });
