extends layout

block content
  h1 Typography

  h2 Headings
  h1.head Heading Level 1
  h2.head Heading Level 2
  h3.head Heading Level 3

  pre &lt;h1 class="subhead"&gt;Subheading 1&lt;/h1&gt;
    | &lt;h2 class="subhead"&gt;Subheading 2&lt;/h2&gt;
    | &lt;h3 class="subhead"&gt;Subheading 3&lt;/h3&gt;


  h2 Subheadings
  h2.subhead Subheading Level 2
  h3.subhead Subheading Level 3
  h4.subhead Subheading Level 4

  pre &lt;h2 class="subhead"&gt;Subheading 2&lt;/h2&gt;
    | &lt;h3 class="subhead"&gt;Subheading 3&lt;/h3&gt;
    | &lt;h4 class="subhead"&gt;Subheading 4&lt;/h4&gt;

  h2 Paragraphs
  p Bacon ipsum dolor sit amet doner chicken porchetta rump bresaola landjaeger. Salami pork short ribs landjaeger sausage, flank shank rump andouille doner. Ham hock shankle strip steak bacon, tongue chicken drumstick porchetta pig. Shoulder sausage brisket prosciutto, andouille beef meatloaf tongue ground round fatback t-bone filet mignon flank short ribs rump. Meatball kielbasa ham hock short ribs landjaeger strip steak tail pastrami short loin. Pork chop tri-tip filet mignon sausage. Brisket swine doner pork belly leberkas boudin corned beef shoulder venison short ribs bresaola ball tip.

  h2 Inline Elements
  p
    a(href='#') This is a text link
  p
    em This is emphasized text
  p
    strong Strong is used to indicate strong importance
  p
    del This text is deleted and
    ins This text is inserted
  p
    small This small text is small for for fine print, etc.
