/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.stnd-primary, .sm-primary, .stnd-secondary, .sm-secondary, .stnd-disabled, .sm-disabled {
  margin: 0 0.5em;
  border: none;
  border-radius: 0.8em; }

.round {
  border-radius: 0.8em; }

.square {
  border-radius: 0.1em; }

.stnd-primary, .sm-primary {
  background-color: #b7f477; }
  .stnd-primary:hover, .stnd-primary:focus, .sm-primary:hover, .sm-primary:focus {
    background-color: rgba(183, 244, 119, 0.6); }

.stnd-secondary, .sm-secondary {
  background-color: #eaf460; }
  .stnd-secondary:hover, .stnd-secondary:focus, .sm-secondary:hover, .sm-secondary:focus {
    background-color: rgba(234, 244, 96, 0.6); }

.stnd-disabled, .sm-disabled {
  background-color: #E8E8E8;
  color: #595C5A; }

.stnd-primary, .stnd-secondary, .stnd-disabled {
  padding: 0.3em 1em;
  font-size: 1em; }

.sm-primary, .sm-secondary, .sm-disabled {
  padding: 0.3em 0.8em;
  font-size: 0.8em; }
