fieldset
  legend Checkbox
  input#check1(type='checkbox', value='1')
  label.checkbox-label(for='check1') Value 1
  input#check2(type='checkbox', value='2')
  label.checkbox-label(for='check2') Value 2
