fieldset
  legend Radio Button
  input#radio1(type='radio', name='radio', value='1')
  label.radio-label(for='radio1') Value 1
  input#radio2(type='radio', name='radio', value='2')
  label.radio-label(for='radio2') Value 2
