fieldset
  legend User Information
  input(type='text', placeholder='Input Text')
  input(type='text', disabled='disabled', placeholder='Disabled Input')
  input(type='text', class='input-error', placeholder='Error Input')
  input(type='text', class='input-success', placeholder='Success Input')
  textarea(placeholder='Medium sized textarea field for bigger explainations.' rows='6')
