$font-base: 'Museo', serif;
$font-titles: 'Arial Rounded MT Bold', sans-serif;

$primary-color: #C8EA80;     // pale green
$secondary-color: #EFEC72;   // pale yellow
$third-color: #E8E8E8;       // light grey
$fourth-color: #5A5C5A;      // dark grey
$fifth-color: #0D0D0D;       // dark black

$primary-color-hover: rgba(183,244,119,0.6); // lightened pale green
$secondary-color-hover: rgba(234,244,96,0.6); // lightened pale yellow

// Font Sizing
$small: 0.618rem;
$normal: 1rem;
$medium: 1.618rem;
$large: 2.618rem;
$larger: 4.236rem;
$largest: 6.854rem;
