@font-face {
    font-family: 'Museo';
    src: url('../fonts/MuseoCyrl_500-webfont.eot');
    src: url('../fonts/MuseoCyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoCyrl_500-webfont.woff') format('woff'),
         url('../fonts/MuseoCyrl_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoCyrl_500-webfont.svg#museo_cyrl_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

%header_text {
  font-family: $font-titles;
  margin-top: $normal;
}

h1 {
  @extend %header_text;
  font-size: $large;
}

h2 {
  @extend %header_text;
  font-size: $medium;
  color: $fourth-color;
}

h3 {
  font-family: $font-base;
  margin-top: $normal;
  font-size: $normal;
  color: $fourth-color;
}
