div.bottom-padding
  h2.bottom-padding Post Image Block
  img(src='http://placehold.it/200x200' align="left")
  div.post-text
    h3 Title for Media
    p Web designers will also have a working knowledge of using a variety of languages. The web designers are responsible for the visual aspect, which includes the layout, coloring and typography of a web page.
